h1{
    font-size: 2.7em;
    color: $secondary;
    text-align: center;
    font-family: 'Bungee Shade', cursive;
}

h2{
    font-size: 2.3em;
    font-family: 'Bungee Shade', cursive;
}
h3{
    font-size: 1.3em;
    font-family: 'Bungee Shade', cursive;
}
h4{
    font-size: .9em;
    font-family: 'Bungee Shade', cursive;
}

p{
    font-family: 'Work Sans', sans-serif;
}


@mixin middle-header {
    text-align: center;
    font-weight: 100;
    padding: 10px;
    margin: 25px;
}